.git
**/.config/Code - OSS/
**/.config/discord/
**/.config/google-chrome/
**/.config/.android/
**/.config/Google/
**/.config/JetBrains/
**/.config/obsidian/
**/.config/GIMP/
**/.config/Smart Code ltd/
**/.config/YouTube Music/
