.git
**/.config/Code - OSS/
**/.config/discord/
**/.config/google-chrome/
**/.config/.android/
**/.config/Google/
**/.config/JetBrains/
**/.config/obsidian/
**/.config/GIMP/
**/.config/Smart Code ltd/
**/.config/YouTube Music/
**/.config/go/
**/.config/dconf/
**/.config/pulse/
**/.config/Thunar/
**/.config/xournalpp/
**/.config/Electron/
**/.config/session/
**/.config/activitywatch/
**/.config/dconf/
**/.config/blender/
**/.config/astro/
**/.config/onlyoffice/
**/.config/htop/
**/.config/tmux/plugins/
**/.config/Blockbench/
**/.config/aseprite/
**/.config/sunshine/
**/.config/DigitalZen/
**/.config/audacity/
**/.config/autostart/
**/.config/Vieb/
