* {
    font-size: 16px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
    all: unset;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 4px 5px 1px 5px;
    padding: 6px;
    padding-left: 4px;
    padding-right: 4px;
    border: 4px solid transparent;
    border-image: linear-gradient(160deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 1));
    border-image-slice: 1;
    border-width: 1px;
    border-radius: 4px;
    background: linear-gradient(145deg, #1a1a1a, #121212);
}

.modules-center {
    margin-left: 0px;
    margin-right: 0px;
}

tooltip {
    background: #131315;
    color: #b4c8be;
    border-radius: 6px;
}

#privacy:hover,
#privacy-item:hover,
#wireplumber:hover,
#clock:hover,
#custom-notification:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all 0.25s ease;
    box-shadow:
        inset 2px 2px 6px rgba(0, 0, 0, 0.5),
        inset -2px -2px 6px rgba(255, 255, 255, 0.03);
    color: #4d726b;
}

#privacy,
#privacy-item,
#wireplumber,
#clock,
#custom-notification,
#network,
#cpu,
#memory,
#temperature,
#tray,
#pipewire {
    padding: 0px 5px;
    color: rgba(225, 225, 225, 1);
}

#wireplumber.muted {
    color: crimson;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: rgba(134, 134, 134, 0.65);
    transition: all 0.25s ease;
}

#workspaces button:hover {
    color: rgba(160, 160, 160, 0.75);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.empty:hover {
    color: rgba(134, 134, 134, 0.45);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.active:hover {
    color: rgba(255, 255, 255, 1);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.active {
    color: rgba(225, 225, 225, 1);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty.active {
    color: rgba(225, 225, 225, 1);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0.4);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#tray menu {
    background: #131315;
    border-radius: 10px;
    box-shadow:
        5px 5px 15px rgba(77, 77, 77, 0.4),
        -5px -5px 15px #000000;
    transition: all 0.25s ease;
}

#tray menu * {
    padding: 4px 8px;
    border-radius: 6px;
}

#tray menu *:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#privacy-item.audio-in {
    color: #f00;
}

#privacy-item.audio-out {
    color: #0f0;
}

#privacy-item.screenshare {
    color: #00f;
}
