* {
    font-size: 16px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
    all: unset;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-image: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 1)
    );
    border-image-slice: 1;
    border-width: 1px;
    border-radius: 4px;
    background: linear-gradient(145deg, #1a1a1a, #121212);
}

.modules-left {
    border-radius: 0 0 8px 0;
}

.modules-right {
    border-radius: 0 0 0 8px;
}

.modules-center {
    border-radius: 0 0 8px 8px;
    margin-left: 0px;
    margin-right: 0px;
}

tooltip {
    background: #131315;
    color: #b4c8be;
    border-radius: 6px;
}


#privacy:hover,
#privacy-item:hover,
#wireplumber:hover,
#clock:hover,
#custom-configuration:hover,
#custom-disk:hover,
#network:hover,
#cpu:hover,
#battery:hover,
#memory:hover,
#custom-github:hover,
#custom-monkeytype:hover,
#gamemode:hover {
    transition: all 0.25s ease;
    box-shadow:
        inset 2px 2px 6px rgba(0, 0, 0, 0.5),
        inset -2px -2px 6px rgba(255, 255, 255, 0.03);
    color: #818181;
}

#privacy,
#privacy-item,
#wireplumber,
#clock,
#custom-configuration,
#custom-disk,
#network,
#cpu,
#memory,
#tray,
#battery,
#pipewire 
#custom-github
#custom-monkeytype
#gamemode {
    padding: 0px 4px;
    color: rgba(225, 225, 225, 1);
}

#privacy,
#privacy-item {
    padding-right: 2px;
}

#custom-disk {
    padding-right: 8px;
}

#clock {
    padding-right: 6px;
    padding-left: 6px;
}

#wireplumber.muted {
    color: crimson;
}

#workspaces {
    padding: 0px 0px;
}

#workspaces button {
    all: unset;
    background-color: rgba(10,10,10,0.35);
    padding: 0px 5px;
    margin: 0px 4px;
    color: rgba(150, 150, 150, 0.65);
    transition: all 0.25s ease;
    border: 1px solid;
    border-radius: 6px;
}

#workspaces .taskbar-window {
    padding: 3px 3px;
}

#workspaces button:hover {
    color: rgba(180, 180, 180, 0.75);
    background-color: rgba(20,20,20,0.5);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.active:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.active {
    color: rgba(225, 225, 225, 1);
    background-color: rgba(30,30,30,1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.focused:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.focused {
    color: rgba(225, 225, 225, 1);
    background-color: rgba(30,30,30,1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.urgent:hover {
    color: rgba(255, 0, 0, 1);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.urgent {
    color: rgba(225, 0, 0, 1);
    background-color: rgba(30,30,30,1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty:hover {
    color: rgba(150, 150, 150, 0.45);
    background-color: rgba(20,20,20,0.4);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

#workspaces button.empty.active {
    color: rgba(225, 225, 225, 1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty.focused {
    color: rgba(225, 225, 225, 1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}


#workspaces button.empty {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#tray menu {
    background: #131315;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow:
        5px 5px 15px rgba(77, 77, 77, 0.4),
        -5px -5px 15px #000000;
}

#battery.warning {
    color: rgba(219,102,18,1);
}

#battery.critical {
    color: rgba(219,34,18,1);
}

#battery.charging {
    color: rgba(48,230,157,1);
}

#battery.full {
    color: rgba(48,230,196,1);
}

#tray menu * {
    padding: 2px 0px;
    transition: all 0.25s ease;
}

#tray menu *:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#privacy-item.audio-in {
    color: #f00;
}

#privacy-item.audio-out {
    color: #0f0;
}

#privacy-item.screenshare {
    color: #00f;
}
